*{
	margin : 0;
	padding: 20px;

}
body{
	background-color: #12172b;
	color: white;
	text-align: center;
	padding-bottom: 50px;
}
footer{
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    background-color: #594848;
    color: white;
    font-family: arial;
    letter-spacing: 1px;
}
nav{
	width: 100%;
	height: 15vh;
	background: rgba(0,0,0,0.2);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	
}
nav .logo{
	width: 25%;
	text-align: center;
	padding-right: 25px;
	
}
nav .menu{
	width: 40%;
	display: flex;
	justify-content: space-around;

	
	
}
nav .menu a{
	width: 55%;
	text-decoration: none;
	color: white;
	font-weight: bold;
	padding-right: 30px;

}
nav .menu a:first-child{
	color: #00b894;
}